[submodule "external/conmon"]
	path = external/conmon
	url = https://github.com/chombourger/conmon.git
	branch = debian/v2.0.2
[submodule "external/slirp4netns"]
	path = external/slirp4netns
	url = https://github.com/chombourger/slirp4netns.git
	branch = debian/v0.4.2
