[submodule "external/conmon"]
	path = external/conmon
	url = https://github.com/chombourger/conmon.git
	branch = debian/v2.0.2
[submodule "external/slirp4netns"]
	path = external/slirp4netns
	url = https://github.com/chombourger/slirp4netns.git
	branch = debian/v0.4.2
[submodule "external/libpod"]
	path = external/libpod
	url = https://github.com/chombourger/libpod.git
	branch = debian/v1.6.2
[submodule "support/bionic/user-mode-linux"]
	path = support/bionic/user-mode-linux
	url = https://github.com/chombourger/user-mode-linux.git
	branch = bionic/5.3.0
[submodule "support/bionic/conmon"]
	path = support/bionic/conmon
	url = https://github.com/chombourger/conmon.git
	branch = bionic/v2.0.2
[submodule "support/bionic/slirp4netns"]
	path = support/bionic/slirp4netns
	url = https://github.com/chombourger/slirp4netns.git
	branch = bionic/v0.4.2
[submodule "support/bionic/libpod"]
	path = support/bionic/libpod
	url = https://github.com/chombourger/libpod.git
	branch = bionic/v1.6.2
